old_setting_up_sketches/sketch10_kwh_COP_RcvMQTT/sketch10_kwh_COP_RcvMQTT.ino
old_setting_up_sketches/sketch11_moreTemps_kwh_COP/sketch11_moreTemps_kwh_COP.ino
old_setting_up_sketches/sketch12_moreTemps2/sketch12_moreTemps2.ino
old_setting_up_sketches/sketch13_AirHeatingOutput/sketch13_AirHeatingOutput.ino
old_setting_up_sketches/sketch14_010824_sCOP/sketch14_010824_sCOP.ino
old_setting_up_sketches/sketch_1_insert_temp_probe/sketch_1_insert_temp_probe.ino
old_setting_up_sketches/sketch_2_labeled_temp_probes/sketch_2_labeled_temp_probes.ino
old_setting_up_sketches/sketch_3_flow_and_temp/sketch_3_flow_and_temp.ino
old_setting_up_sketches/sketch_4_OTA_kW/sketch_4_OTA_kW.ino
old_setting_up_sketches/sketch_5_MQTT_OTA_kW/sketch_5_MQTT_OTA_kW.ino
old_setting_up_sketches/sketch_6_COP_MQTT_OTA/sketch_6_COP_MQTT_OTA.ino
old_setting_up_sketches/sketch_7_COP_RcvMQTT_OTA/sketch_7_COP_RcvMQTT_OTA.ino
old_setting_up_sketches/sketch_8_kwh_COP_RcvMQTT/sketch_8_kwh_COP_RcvMQTT.ino
old_setting_up_sketches/sketch_9_kwh_COP_RcvMQTT/sketch_9_kwh_COP_RcvMQTT.ino
old_setting_up_sketches/sketch_ds_wifi_example/sketch_ds_wifi_example.ino
old_setting_up_sketches/sketch_example_0/sketch_example_0.ino
old_setting_up_sketches/sketch_pubsub8266_example/sketch_pubsub8266_example.ino
example_hall_effect_flow_code.ino
DS18B20.pdf
Hello_ideaspark_OLED.bin
sketch14_012424_sCOP/arduino_secrets.h
.vscode/tasks.json
